.catalogContainer {
    background-color: #f8fafc; /* bg-slate-50 */
    font-family: 'Montserrat', sans-serif; /* font-montserrat */
    color: #334155; /* text-slate-800 */
    border-radius: 0.5rem; /* rounded-lg */
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* shadow-xl */
}

.title {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 700; /* font-bold */
    color: #374151; /* text-gray-800 */
    text-align: center;
    margin-bottom: 1.5rem; /* mb-6 */
}

.filterTitle {
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    color: #1e293b; /* text-gray-800 */
    margin: 10px;
    text-align: left;
}

.filterSubtitle {
    font-size: 1rem; /* text-base */
    font-weight: 600; /* font-semibold */
    color: #374151; /* text-gray-800 */
    margin-bottom: 0.75rem; /* mb-3 */
    text-transform: uppercase;
    letter-spacing: 0.05em; /* tracking-wider */
    text-align: left;
}

.filterGrid {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna por defecto para móviles */
    gap: 1.5rem; /* 24px */
    text-align: left;
}

/* En pantallas de 768px o más, cambiamos a 3 columnas */
@media (min-width: 768px) {
    .filterGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem; /* 40px, un poco más de espacio en escritorio */
    }
}

.filterOptions {
    display: flex;
    flex-direction: column;
}

.filterColumn {
    padding-left: 20px;
}

.productCount {
    font-size: 0.875rem; /* text-sm */
    color: #374151; /* text-gray-700 */
    font-weight: 700; /* font-bold */
    text-align: right;
    margin-top: 20px; /* Espacio superior explícito */
    margin-bottom: 1.5rem; /* mb-6 */
    padding-right: 10px; /* Pequeño padding para que no se pegue al borde */
}